html{
  scroll-behavior: smooth;
}

body{
  background-color: #1f1f1f !important;
  color: #ddd !important;
}

li{
  list-style-image: url("/list-item.svg");
}

.ql-editor{
  height: 300px !important;
}

#ct-container{
  top: 30% !important;
}

.ct-toast{
  padding: 50px !important;
}