.navStyle {
  background-color: #1f1f1f;
}

.navText {
  color: #ddd;
}

#aboutNav {
  color: #ddd;
  font-family: "Share Tech Mono", monospace;
}
#skillsNav {
  color: #ddd;
  font-family: "Share Tech Mono", monospace;
}
#projectsNav {
  color: #ddd;
  font-family: "Share Tech Mono", monospace;
}
#contactNav {
  color: #ddd;
  font-family: "Share Tech Mono", monospace;
}

.navUnderline {
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #ffbb00;
}
