.mainDiv-overlay{
  position: absolute;
  top: 30vh;
}

.nameHeading {
  font-family: 'Iceland', cursive;
  font-size: 7rem;
}
.homeHeading {
  width: 100% !important;
  color: #00d627;
  font-size: 2rem;
  font-family: 'Share Tech Mono', monospace;
}

.heading-container{
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 3px;
  font-family: 'Montserrat', sans-serif;
}

.heading-upperline{
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #00d627;
}
.heading-underline{
  display: block;
  position: absolute;
  bottom: -10px;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #00d627;
}