
.heading{
  margin-top:50px;
  margin-bottom: 50px;
  text-align:center;
}

.fieldLabel{
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.projectContainer{
  padding: 5%;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}
.projectTitle{
  padding: 3%;
  /* background-color: rgb(154, 16, 189); */
  font-weight: 800;
}
.projectDesc{
  padding: 3%;
  /* background-color: rgb(16, 189, 189); */
}

.projectImg{
  object-fit: scale-down;
  margin: auto;
}