.mainDiv{
  /* width: 100%; */
  min-height: 100%;
  background-color:#ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
}


#skills-col .nav-pills .nav-item{
  min-width: 33%;
  padding: 2%;
  border: none;
  border-radius: 0;
  outline: none;
  color: #1f1f1f;
  font-family: 'Share Tech Mono', monospace;
  /* margin: 0 10px 0 10px; */
  background-color: #ddd;
}

#skills-col .nav-pills .nav-item.active{
  background-color: #f59b15;
  
}

.projects-heading{
  color: #1f1f1f;
  font-family: 'Share Tech Mono', monospace;
}

.projects-body{
  text-align: center;
  margin-top: 5%;
}